/* this is the new fils for all Extra custom CSS that we will use for this template*/

/*Currency selector*/

form#currency_form {
  position: fixed;
  bottom: 3%;
  left: 2%;
  /*border: 1px solid;*/
  z-index: 999;
}

.header-logo {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
.main-content {
  padding-top: 0px;
}
*/
.jdgm-rev-widg__header {
  display: none;
}
